<!-- profilequestions6.html  Vehicle -->

<md-toolbar class="toolbar" layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
	<h2>Welcome, {{pqc.client.details.firstName}} {{pqc.client.details.lastName}}</h2>

</md-toolbar>

<div layout-align="center center" layout="column" ng-cloak class="profile md-inline-form md-display-1">

  <div>
    <md-radio-group ng-model="pqc.client.details.vehicle">
      <h2>Do you own a vehicle?</h2>
      <md-radio-button ng-value="true">Yes</md-radio-button>
      <md-radio-button ng-value="false" ng-click="pqc.undoVehicle()">No</md-radio-button>
    </md-radio-group>

    <div ng-if="pqc.client.details.vehicle == true">
      <h3>How many vehicles do you own?</h3>
      <md-select ng-model="pqc.client.details.numberVehicles" placeholder="Number of Vehicles">
        <md-option value=1>1</md-option>
        <md-option value=2>2</md-option>
        <md-option value=3>3+</md-option>
      </md-select>
    </div>
  </div>
        <md-content class="profile" layout-gt-sm="row" layout-padding>
          <a href="#profilequestions5">Back</a>
          <md-button class="md-raised md-primary" href="#profilequestions7">Next</md-button>
        </md-content>
</div>
