<!-- profileQuestions1.htm -->

<md-toolbar class="toolbar" layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
	<h2>Welcome, {{pqc.client.firstName}} {{pqc.client.lastName}}</h2>
</md-toolbar>

<div layout-align="center center" layout="column" ng-cloak class="profile md-inline-form md-display-1">

	<div > <!--Individual or Joint section -->
		<md-radio-group ng-model="pqc.client.maritalStatus">
			<h2>Are you married?</h2>
			<md-radio-button ng-value="'married'">Yes</md-radio-button>
			<md-radio-button ng-value="'single'" ng-click="pqc.undoShare()">No</md-radio-button>
		</md-radio-group>
		<!-- this shares a div with above. it only shows if married. -->
		<md-radio-group ng-if="pqc.client.maritalStatus === 'married'" ng-model="pqc.client.individual">
			<h2>Do you share finances?</h2>
			<md-radio-button ng-value="false">Yes</md-radio-button>
			<md-radio-button ng-value="true">No</md-radio-button>
		</md-radio-group>
	</div>



  <md-content class="profile" layout-gt-sm="row" layout-padding>
    <div layout="column" layout-align="center center">
          <md-button class="md-raised md-primary" href="#profilequestions2">Next</md-button>
    </div>
  </md-content>
