<!-- profilequestions11.html  Profile Summary -->

<md-toolbar class="toolbar" layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
</md-toolbar>

<div layout-align="center center" layout="column" ng-cloak class="profile md-inline-form md-display-1">


  <div class="profile md-inline-form md-title" layout="column"  layout-align="left left">
    <md-content>
      <h1>Summary</h1>
      <p ng-if="pqc.client.maritalStatus == 'married' ">You are married</p>
      <p ng-if="pqc.client.maritalStatus == 'single' ">You are not married</p>
      <p ng-if="pqc.client.individual == true">You file single</p>
      <p ng-if="pqc.client.individual == false">You file jointly</p>
      <p ng-if="pqc.client.dependents == true">You have children or dependents</p>
      <p class="inline" ng-if="pqc.client.assistance == true">You receive assistance in the form of: </p>
      <p class="inline" ng-if="pqc.client.SNAP == true"> -SNAP- </p>
      <p class="inline" ng-if="pqc.client.TANF == true"> -TANF- </p>
      <p class="inline" ng-if="pqc.client.SSI == true"> -SSI/SSDI- </p>
      <p class="inline" ng-if="pqc.client.alimony == true"> -alimony- </p>
      <p class="inline" ng-if="pqc.client.workersComp == true"> -workers' compensation- </p>
      <p class="inline" ng-if="pqc.client.otherAssist == true"> -other assistance- </p>
      <p ng-if="pqc.client.housing == 'Own'">You own your home</p>
      <p ng-if="pqc.client.housing == 'Rent'">You rent your home</p>
      <p ng-if="pqc.client.vehicle == true">You own {{pqc.client.numberVehicles}} car(s)</p>
      <p ng-if="pqc.client.bank == true">Your bank accounts are:<span ng-if="(pqc.client.checking == true && pqc.client.savings != true)">checking</span> <span ng-if="(pqc.client.checking != true && pqc.client.savings == true)">savings</span><span ng-if="(pqc.client.checking == true && pqc.client.savings == true)">checking & savings</span></p>
      <p ng-if="pqc.client.creditCard"> You have a credit card </p>
      <p ng-if="pqc.client.autoLoan == true"> You have an auto loan </p>
      <p ng-if="pqc.client.mortgage == true"> You have a mortgage </p>
      <p ng-if="pqc.client.heloc == true"> You have a HELOC </p>
  </md-content>
  </div>


        <md-content class="profile" layout-gt-sm="row" layout-padding>
          <a href="#profilequestions10">Back</a>
          <md-button class="md-raised md-primary" href="#main">Everything Looks Great!</md-button>
        </md-content>
</div>
