<!-- profilequestions4.html assistance -->

<md-toolbar class="toolbar" layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
	<h2>Welcome, {{pqc.client.firstName}} {{pqc.client.lastName}}</h2>

</md-toolbar>

<div layout-align="center center" layout="column" ng-cloak class="profile md-inline-form md-display-1">


      <div>
        <md-radio-group ng-model="pqc.client.assistance">
          <h2>Do you receive assistance?</h2>
          <md-radio-button ng-value="true">Yes</md-radio-button>
          <md-radio-button ng-value="false">No</md-radio-button>
        </md-radio-group>

        <div ng-if="pqc.client.assistance == true" class="pqc.assistanceSection">
          <h3>Check all that apply</h3>
          <md-checkbox md-no-ink class="md-primary" ng-model="pqc.client.SNAP">SNAP</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pqc.client.TANF">TANF</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pqc.client.SSI">SSI/SSDI</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pqc.client.alimony">Child Support/Alimony</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pqc.client.workersComp">Workers' Comp</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pqc.client.otherAssist">Other</md-checkbox>
        </div>
      </div>



        <md-content class="profile" layout-gt-sm="row" layout-padding>
          <a href="#profilequestions3">Back</a>
          <md-button class="md-raised md-primary" href="#profilequestions5">Next</md-button>
        </md-content>
</div>
