<!-- <p>This is Balance Sheet Tab One</p> -->

<form layout="column" ng-cloak class="md-inline-form" ng-keyup="bsc.calculateWorth()" ng-mouseleave="bsc.calculateWorth()">
  <!-- <i class="material-icons">attach_money</i> -->

  <h1>Total Assets <span ng-if="bsc.client.details.totalAssets > 0">{{bsc.client.details.totalAssets | currency:"$":0}}</span></h1><!--ng-model="bsc.client.details.totalAssets" -->

  <!-- cash assets section-->
  <div>
    <h3>Cash Assets</h3>

    <md-input-container ng-if="bsc.client.details.checking">
      <label><!--Checking Balance Value-->Checking Account(s) Balance</label>
      <input class="inputFieldSize" ng-model="bsc.client.details.checkingBalanceValue" type="number" ng-blur="bsc.addAssets(bsc.client.details.checkingBalanceValue)" ng-focus="bsc.updateAssets(bsc.client.details.checkingBalanceValue)">
    </md-input-container>

    <md-input-container ng-if="bsc.client.details.savings">
      <label for="savings">Savings Account(s) Balance</label>
      <input class="inputFieldSize" type="number" name="savings" ng-model="bsc.client.details.savingsBalanceValue" ng-blur="bsc.addAssets(bsc.client.details.savingsBalanceValue)" ng-focus="bsc.updateAssets(bsc.client.details.savingsBalanceValue)">
    </md-input-container>

    <md-input-container>
      <label for="cash">Cash on Hand</label>
      <input class="inputFieldSize" type="number" name="cash" ng-model="bsc.client.details.cashOnHandValue" ng-blur="bsc.addAssets(bsc.client.details.cashOnHandValue)" ng-focus="bsc.updateAssets(bsc.client.details.cashOnHandValue)">
    </md-input-container>
  </div>

  <div ng-if="bsc.client.details.numberVehicles != null"><!--vehicle owned section-->

    <h3>Vehicle Assets</h3>


    <div>
      <md-input-container ng-if="bsc.client.details.numberVehicles >= 1">
        <label for="vehicleOne">Vehicle 1 Value</label>
        <input class="inputFieldSize" type="number" name="vehicleOne" ng-model="bsc.client.details.vehicle1Value" ng-blur="bsc.addAssets(bsc.client.details.vehicle1Value)" ng-focus="bsc.updateAssets(bsc.client.details.vehicle1Value)">
      </md-input-container>

      <md-input-container ng-if="bsc.client.details.numberVehicles >= 2">
        <label for="vehicleTwo">Vehicle 2 Value</label>
        <input class="inputFieldSize" type="number" name="vehicleTwo" ng-model="bsc.client.details.vehicle2Value" ng-blur="bsc.addAssets(bsc.client.details.vehicle2Value)" ng-focus="bsc.updateAssets(bsc.client.details.vehicle2Value)">
      </md-input-container>
      <md-input-container ng-if="bsc.client.details.numberVehicles == 3">
        <label for="vehicleComb">Vehicle Combined Value</label>
        <input class="inputFieldSize" type="number" name="vehicleComb" ng-model="bsc.client.details.vehileOtherValue" ng-blur="bsc.addAssets(bsc.client.details.vehileOtherValue)" ng-focus="bsc.updateAssets(bsc.client.details.vehileOtherValue)">
      </md-input-container>
    </div>
  </div>


    <div ng-if="bsc.client.details.housing === 'Own' || bsc.client.details.investments">  <!-- real estate ownership section -->

      <h3>Real Estate</h3>


      <div>
        <md-input-container>
          <label for="homeOwned">Primary Residence Value</label>
          <input class="inputFieldSize" type="number" name="homeOwned" ng-model="bsc.client.details.primaryResidenceValue" ng-blur="bsc.addAssets(bsc.client.details.primaryResidenceValue)" ng-focus="bsc.updateAssets(bsc.client.details.primaryResidenceValue)">

        </md-input-container>

      </div>


      <md-input-container ng-if="bsc.client.details.investments && bsc.client.details.housing == 'Own'">

        <label for="otherRealEstate">Real Estate - other than Primary Residence</label>

        <input class="informalField" type="number" name="otherRealEstate" ng-model="bsc.client.details.otherRealEstateValue" ng-blur="bsc.addAssets(bsc.client.details.otherRealEstateValue)" ng-focus="bsc.updateAssets(bsc.client.details.otherRealEstateValue)">

      </md-input-container>
    </div>

    <div ng-if="bsc.client.details.investments">  <!--investment section-->

      <h3>Investments</h3>

      <md-input-container>
        <label for="stocks">Stocks, Bonds, Mutual Funds, and Similar Assets</label>
        <input class="informalField" type="number" name="stocks" ng-model="bsc.client.details.stocksBondsAndSimilarValue" ng-blur="bsc.addAssets(bsc.client.details.stocksBondsAndSimilarValue)" ng-focus="bsc.updateAssets(bsc.client.details.stocksBondsAndSimilarValue)">
      </md-input-container>

      <md-input-container>
        <label for="retirement">Retirement Accounts</label>
        <input class="inputFieldSize" type="number" name="retirement" ng-model="bsc.client.details.retirementAccountsValue" ng-blur="bsc.addAssets(bsc.client.details.retirementAccountsValue)" ng-focus="bsc.updateAssets(bsc.client.details.retirementAccountsValue)">
      </md-input-container>

      <md-input-container>
        <label for="college">College Savings Account</label>

        <input class="inputFieldSize" type="number" name="college" ng-model="bsc.client.details.collegeSavingsValue" ng-blur="bsc.addAssets(bsc.client.details.collegeSavingsValue)" ng-focus="bsc.updateAssets(bsc.client.details.collegeSavingsValue)">

      </md-input-container>
    </div>

    <div>

      <h3>Other Assets</h3>

      <md-input-container ng-if="bc.client.details.employed">
        <label for="business">Business</label>


        <input class="inputFieldSize" type="number" name="business" ng-model="bsc.client.details.businessValue" ng-blur="bsc.addAssets(bsc.client.details.businessValue)" ng-focus="bsc.updateAssets(bsc.client.details.businessValue)">

      </md-input-container>

      <md-input-container>
        <label for="otherAsset">Other Assests</label>

        <input class="inputFieldSize" type="number" name="otherAsset" ng-model="bsc.client.details.otherAssetsValue" ng-blur="bsc.addAssets(bsc.client.details.otherAssetsValue)" ng-focus="bsc.updateAssets(bsc.client.details.otherAssetsValue)">

      </md-input-container>

    </div>




    <h1>Total Assets <span ng-if="bsc.client.details.totalAssets > 0">{{bsc.client.details.totalAssets | currency:"$":0}}</span></h1><!--ng-model="bsc.client.details.totalAssets" -->



  </form>
  <!-- assets_label

  checkingBalanceValue
  savingsBalanceValue

  cashOnHandValue

  vehicle1Value
  vehicle2Value
  vehicleOthersValue

  primaryResidenceValue
  otherRealEstateValue

  stocksBondsAndSimilarValue
  retirementAccountsValue
  collegeSavingsValue -->

  <!-- businessValue
  otherAssetsValue
  totalAssets -->
