<!-- NOTE:This is Balance Sheet Liabilities Tab-->
<div layout="column" ng-cloak class="md-inline-form" ng-keyup="bsc.updateLibailities()">

  <div ng-if="bsc.client.housing === 'Own'"><!-- housingLiabilities section -->
    <h3>Housing Liabailities</h3>
    <md-input-container>
      <label for="mortgage">Mortgage Owed</label>
      <input class="inputFieldSize" type="number" name="mortgage" ng-blur="bsc.addHousing(bsc.client.mortgageBalance)" ng-model="bsc.client.mortgageBalance" ng-focus="bsc.updateHouse(bsc.client.mortgageBalance)">
    </md-input-container> <!--ng-model-options="{ updateOn: 'blur' }" -->

    <md-input-container ng-if="bsc.client.heloc">
      <label for="heloc">HELOC used</label>
      <input class="inputFieldSize" type="number" name="heloc"  ng-blur="bsc.addHousing(bsc.client.helocBalance)" ng-model="bsc.client.helocBalance" ng-focus="bsc.updateHouse(bsc.client.helocBalance)">
    </md-input-container>

    <md-input-container ng-if="bsc.client.otherRealEstateValue != null"><!-- -->
      <label for="otherRealEstate">Other Real Estate</label>
      <input class="inputFieldSize" type="number" name="otherRealEstate"  ng-blur="bsc.addHousing(bsc.client.otherRealEstateBalance)" ng-model="bsc.client.otherRealEstateBalance" ng-focus="bsc.updateHouse(bsc.client.otherRealEstateBalance)">
    </md-input-container>

  <h4>Total Housing Liabilities:<span ng-model="bsc.totalHousingLiabilities">${{bsc.housingSum}}</span></h4>
  <hr>
  </div>

  <div ng-if="bsc.client.autoLoan"><!-- transportationLiabilities section -->
    <h3>Transportation Liabilities</h3>
    <md-input-container ng-if="bsc.client.numberVehicles >= 1">
      <label for="car1">Vehicle 1 Owed</label>
      <input class="inputFieldSize" type="number" name="car1" ng-model="bsc.client.vehicle1Balance" ng-focus="bsc.updateAuto(bsc.client.vehicle1Balance)" ng-blur="bsc.addAuto(bsc.client.vehicle1Balance)">
    </md-input-container>

    <md-input-container ng-if="bsc.client.numberVehicles >= 2">
      <label for="car2">Vehicle 2 Owed</label>
      <input class="inputFieldSize" type="number" name="car2" ng-model="bsc.client.vehicle2Balance"  ng-focus="bsc.updateAuto(bsc.client.vehicle2Balance)" ng-blur="bsc.addAuto(bsc.client.vehicle2Balance)">
    </md-input-container>

    <md-input-container ng-if="bsc.client.numberVehicles == 3">
      <label for="car3">Other Vehilces Owed</label>
      <input class="inputFieldSize" type="number" name="car3" ng-model="bsc.client.vehicleOthersBalance"  ng-focus="bsc.updateAuto(bsc.client.vehicleOthersBalance)" ng-blur="bsc.addAuto(bsc.client.vehicleOthersBalance)">
    </md-input-container>

    <h4>Total Transportation Liabilities:<span ng-model="bsc.totalTransportationLiabilities">${{bsc.transportationSum}}</span></h4>
    <hr>
  </div>

  <div><!-- creditCard/Loans section -->
    <h3>Credit Card & Loan Liabilities</h3>
    <md-input-container >
      <label for="card">Credit Cards - combined balance</label>
      <input class="inputFieldSize" type="number" name="card" ng-model="bsc.client.creditCardsCombinedBalance"  ng-focus="bsc.updateLoans(bsc.client.creditCardsCombinedBalance)" ng-blur="bsc.addLoans(bsc.client.creditCardsCombinedBalance)">
    </md-input-container>

    <md-input-container >
      <label for="studentLoan">Student Loans</label>
      <input class="inputFieldSize" type="number" name="studentLoan" ng-model="bsc.client.studentLoansBalance" ng-focus="bsc.updateLoans(bsc.client.studentLoansBalance)" ng-blur="bsc.addLoans(bsc.client.studentLoansBalance)">
    </md-input-container>

    <md-input-container >
      <label for="personLoan">Consumer Loans</label>
      <input class="inputFieldSize" type="number" name="personLoan" ng-model="bsc.client.consumerLoansBalance" ng-focus="bsc.updateLoans(bsc.client.consumerLoansBalance)" ng-blur="bsc.addLoans(bsc.client.consumerLoansBalance)">
    </md-input-container>

    <md-input-container >
      <label for="bizLoan">Business Loans</label>
      <input class="inputFieldSize" type="number" name="bizLoan" ng-model="bsc.client.businessLoansBalance" ng-focus="bsc.updateLoans(bsc.client.businessLoansBalance)" ng-blur="bsc.addLoans(bsc.client.businessLoansBalance)">
    </md-input-container>

    <md-input-container >
      <label for="famLoan">Informal Loans - money owed to family or friends</label>
      <input id="informalField" type="number" name="famLoan" ng-model="bsc.client.informalLoansBalance" ng-focus="bsc.updateLoans(bsc.client.informalLoansBalance)" ng-blur="bsc.addLoans(bsc.client.informalLoansBalance)">
    </md-input-container>

    <h4>Total Credit Card & Loan Liabilities:<span ng-model="bsc.totalCreditCardsOtherLoanBalance">${{bsc.loanSum}}</span></h4>
    <hr>
  </div>

  <div><!-- unpaid bills seciton -->
    <h3>Unpaid Bills</h3>
    <md-input-container >
      <label for="utility">Unpaid Utilities</label>
      <input class="inputFieldSize" type="number" name="utility" ng-model="bsc.client.unpaidUtilitiesBalance" ng-focus="bsc.updateBills(bsc.client.unpaidUtilitiesBalance)" ng-blur="bsc.addBills(bsc.client.unpaidUtilitiesBalance)">
    </md-input-container>

    <md-input-container >
      <label for="rent">Unpaid Rent</label>
      <input class="inputFieldSize" type="number" name="rent" ng-model="bsc.client.unpaidRentBalance" ng-focus="bsc.updateBills(bsc.client.unpaidRentBalance)" ng-blur="bsc.addBills(bsc.client.unpaidRentBalance)">
    </md-input-container>

    <md-input-container >
      <label for="medBills">Unpaid Medical Bills</label>
      <input class="inputFieldSize" type="number" name="medBills" ng-model="bsc.client.unpaidMedicalBillsBalance" ng-focus="bsc.updateBills(bsc.client.unpaidMedicalBillsBalance)" ng-blur="bsc.addBills(bsc.client.unpaidMedicalBillsBalance)">
    </md-input-container>
  </div>
  <div> <!--sub div for formatting -->
    <md-input-container >
      <label for="banks">Money Owed to Banks and/or Credit Unions</label>
      <input class="inputFieldSize" type="number" name="banks" ng-model="bsc.client.moneyOwedToBanksBalance" ng-focus="bsc.updateBills(bsc.client.moneyOwedToBanksBalance)" ng-blur="bsc.addBills(bsc.client.moneyOwedToBanksBalance)">
    </md-input-container>

    <md-input-container>
      <label for="otherBills">Other Unpaid Bills</label>
      <input class="inputFieldSize" type="number" name="otherBills" ng-model="bsc.client.otherUnpaidBillsBalance" ng-focus="bsc.updateBills(bsc.client.otherUnpaidBillsBalance)" ng-blur="bsc.addBills(bsc.client.otherUnpaidBillsBalance)">
    </md-input-container>

    <h4>Total Unpaid Bills (not in collection):<span ng-model="bsc.totalUnpaidBillsNotInCollections">${{bsc.unpaidBillSum}}</span></h4>
    <hr>
  </div>

  <div><!-- collections/judgement section -->
    <h3>Collections, Charge-Offs, or Judgements</h3>
    <md-input-container >
      <label for="medCollect">Medical Collections</label>
      <input class="inputFieldSize" type="number" name="medCollect" ng-model="bsc.client.medicalCollectionsBalance" ng-focus="bsc.updateCollection(bsc.client.medicalCollectionsBalance)" ng-blur="bsc.addCollection(bsc.client.medicalCollectionsBalance)">
    </md-input-container>

    <md-input-container >
      <label for="otherCollect">Other Collections</label>
      <input class="inputFieldSize" type="number" name="otherCollect" ng-model="bsc.client.allOtherCollectionsBalance" ng-focus="bsc.updateCollection(bsc.client.allOtherCollectionsBalance)" ng-blur="bsc.addCollection(bsc.client.allOtherCollectionsBalance)">
    </md-input-container>

    <md-input-container ng-if="bsc.client.dependents">
      <label for="child">Child Support in Arrears</label>
      <input class="inputFieldSize" type="number" name="child" ng-model="bsc.client.childSupportInArrearsBalance" ng-focus="bsc.updateCollection(bsc.client.childSupportInArrearsBalance)" ng-blur="bsc.addCollection(bsc.client.childSupportInArrearsBalance)">
    </md-input-container>
  <!-- </div> -->
<!--sub div for formatting   <div>  -->
    <md-input-container >
      <label for="backTax">Back Taxes Owed</label>
      <input class="inputFieldSize" type="number" name="backTax" ng-model="bsc.client.backTaxesBalance" ng-focus="bsc.updateCollection(bsc.client.backTaxesBalance)" ng-blur="bsc.addCollection(bsc.client.backTaxesBalance)">
    </md-input-container>

    <div>
      <md-input-container>
        <label for="judgement">Other Public Records</label>
        <input type="text" name="judgement" ng-model="bsc.client.otherJudgement">
      </md-input-container>
      <md-input-container>
        <label for="otherJudge">Amount Owed</label>
        <input type="text" name="otherJudge" ng-model="bsc.client.otherPublicRecordsBalance" ng-focus="bsc.updateCollection(bsc.client.otherPublicRecordsBalance)" ng-blur="bsc.addCollection(bsc.client.otherPublicRecordsBalance)">
      </md-input-container>
    </div>

    <h4>Total Collections/Charge-Offs/Judgements:<span ng-model="bsc.totalCollectionsChargeOffsJudgments">${{bsc.collectionSum}}</span></h4>
  </div>

  <h2>Total Liabilities: $<span ng-model="bsc.client.totalLiabilities">{{bsc.client.totalLiabilities}}</span></h2>
  <button type="button" sref="main.balanceSheet.snapshot">View Snapshot</button>
</div>
  <!-- NOTE: naming scheme for balance sheet -->

  <!-- liabilities_label
  housingLiabilities_label
  mortgageBalance
  helocBalance
  otherRealEstateBalance
  totalHousingLiabilities -->

  <!-- transportationLiabilities_label
  vehicle1Balance
  vehicle2Balance
  vehicleOthersBalance
  totalTransportationLiabilities -->

  <!-- creditCardsOtherLoansBalance_label
  creditCardsCombinedBalance
  studentLoansBalance
  consumerLoansBalance
  businessLoansBalance
  informalLoansBalance
  totalCreditCardsOtherLoansBalance -->

  <!-- unpaidBillsNotInCollections_label
  unpaidUtilitiesBalance
  unpaidRentBalance
  unpaidMedicalBillsBalance
  moneyOwedToBanksBalance
  otherUnpaidBillsBalance
  totalUnpaidBillsNotInCollections -->

  <!-- collectionsChargeOffsJudgments_label
  medicalCollectionsBalance
  allOtherCollectionsBalance
  childSupportInArrearsBalance
  BackTaxesBalance
  otherPublicRecordsBalance
  totalCollectionsChargeOffsJudgments -->
