
<p>{{bic.user}}</p>

<h1>Monthly Income</h1>

<p>Wages (take-home amount after all withholding) (monthly participant income - net)
  <input ng-model="bic.user.monthlyWagesNet" placeholder="$" type="number"></p>
<p>Income from self-employment or business ownership (monthly participant income  - net)
  <input ng-model="bic.user.monthlySelfAndBusinessNet" placeholder="$" type="number"></p>
<p>SSI/SSDI (monthly participant income - net)
  <input ng-model="bic.user.monthlyNetSSI" placeholder="$" type="number"></p>
<p>SNAP (food stamps)/WIC (monthly participant income - net)
  <input ng-model="bic.user.monthlyNetSNAPWIC" placeholder="$"></p>
<p>Alimony/Child Support (monthly participant income - net)
  <input ng-model="bic.user.monthlyAlimonyNet" placeholder="$"></p>
<p>Unemployment (monthly participant income - net)
  <input ng-model="bic.user.monthlyUnemploymentNet" placeholder="$"></p>
<p>Workers' Compensation (monthly participant income - net)
  <input ng-model="bic.user.monthlyWorkersCompensationNet" placeholder="$"></p>
<p>Veteran Compensation (monthly participant income - net)
  <input ng-model="bic.user.monthlyVeteransCompensationNet" placeholder=""></p>
<p>Rental Income (monthly participant income - net)
  <input ng-model="bic.user.monthlyRentalIncomeNet" placeholder="$"></p>
<p>Interest/Investment Income (monthly participant income - net)
  <input ng-model="bic.user.monthlyInvestmentIncomeNet" placeholder="$"></p>
<p>Income from other household members (monthly income from other household members - net)
  <input ng-model="bic.user.monthlyIncomeOtherHouseholdMembersNet" placeholder="$"></p>
<p>Social Security (not SSI/SSD) (monthly participant income - net)
  <input ng-model="bic.user.monthlySocialSecurityNetNotSSI" placeholder="$"></p>
<p>Pensions (monthly participant income - net)
  <input ng-model="bic.user.monthlyPensionsNet" placeholder="$"></p>
<p>Other Public Benefits (monthly participant income - net)
  <input ng-model="bic.user.monthlyOtherPublicBenefitsNet" placeholder="$"></p>
<p>Other Income (not public benefit) (monthly participant income - net)
  <input ng-model="bic.user.monthlyOtherIncomeNet" placeholder="$"></p>
<h1>Total Monthly Income (net)
  <input ng-model="bic.user.totalMonthlyIncomeNet" placeholder="$"></h1>
