<div ng-cloak>
<md-content class="md-padding" flex>
  <md-nav-bar
    md-selected-nav-item="bc.currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="main.budget.income" name="main.budget.income">Income</md-nav-item>
    <md-nav-item md-nav-sref="main.budget.expenses" name="main.budget.expenses">Expenses</md-nav-item>

    <md-nav-item md-nav-sref="main.budget.snapshot" name="main.budget.snapshot">Budget Snapshot</md-nav-item>
  </md-nav-bar>

  
  <div class="ext-content">
    <ui-view></ui-view>
  </div>

</md-content>
</div>
