<div layout="column" ng-cloak class="md-inline-form md-padding" flex >
  <md-content>
<h1>Monthly Income</h1>
<p><md-input-container class="longerinput">
<label "wages">Wages</label>
<input type="number" name="wages" ng-model="bic.user.monthlyWagesNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Income from self-employment or business ownership</label>
  <input  ng-model="bic.user.monthlySelfAndBusinessNet" type="number">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">SSI/SSDI</label>
  <input ng-model="bic.user.monthlyNetSSI" type="number">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">SNAP (food stamps)/WIC</label>
  <input ng-model="bic.user.monthlyNetSNAPWIC">
</md-input-container></p>


<p><md-input-container class="longerinput" >
<label "wages">Alimony/Child Support</label>
  <input ng-model="bic.user.monthlyAlimonyNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Unemployment</label>
  <input ng-model="bic.user.monthlyUnemploymentNet">
</md-input-container></p>


<p><md-input-container class="longerinput" >
<label "wages">Workers' Compensation</label>
  <input ng-model="bic.user.monthlyWorkersCompensationNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Veteran Compensation</label>
  <input ng-model="bic.user.monthlyVeteransCompensationNet" label="">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Rental Income</label>
  <input ng-model="bic.user.monthlyRentalIncomeNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Interest/Investment Income</label>
  <input ng-model="bic.user.monthlyInvestmentIncomeNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Income from other household members</label>
  <input ng-model="bic.user.monthlyIncomeOtherHouseholdMembersNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Social Security (not SSI/SSD)</label>
  <input ng-model="bic.user.monthlySocialSecurityNetNotSSI">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Pensions</label>
  <input ng-model="bic.user.monthlyPensionsNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Other Public Benefits</label>
  <input ng-model="bic.user.monthlyOtherPublicBenefitsNet">
</md-input-container></p>


<p><md-input-container class="longerinput">
<label "wages">Other Income (not public benefit)</label>
  <input ng-model="bic.user.monthlyOtherIncomeNet">
</md-input-container></p>



<h1>Total Monthly Income
  <input ng-model="bic.user.totalMonthlyIncomeNet"></h1>
</md-input-container></p>
</md-content>
</div>
