<p>{{bc.client}}</p>
<div layout="column" ng-cloak class="md-inline-form md-padding" flex ng-keyup="bc.updateIncome">
  <md-content>
<h1>Monthly Income</h1>
<p><md-input-container class="longerInput">
<label>Wages</label>
<input ng-model="bc.client.monthlyWagesNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyWagesNet)" ng-blur= "bc.addIncome(bc.client.monthlyWagesNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Income from self-employment or business ownership</label>
  <input  ng-model="bc.client.monthlySelfAndBusinessNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlySelfAndBusinessNet)" ng-blur="bc.addIncome(bc.client.monthlySelfAndBusinessNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>SSI/SSDI</label>
  <input ng-model="bc.client.monthlyNetSSI" type="number" ng-focus="bc.updateIncome(bc.client.monthlyNetSSI)" ng-blur= "bc.addIncome(bc.client.monthlyNetSSI)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>SNAP (food stamps)/WIC</label>
  <input ng-model="bc.client.monthlyNetSNAPWIC" ng-focus="bc.updateIncome(bc.client.monthlyNetSNAPWIC)" type="number" ng-blur= "bc.addIncome(bc.client.monthlyNetSNAPWIC)">
</md-input-container></p>


<p><md-input-container class="longerInput" >
<label>Alimony/Child Support</label>
  <input ng-model="bc.client.monthlyAlimonyNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyAlimonyNet)" ng-blur= "bc.addIncome(bc.client.monthlyAlimonyNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Unemployment</label>
  <input ng-model="bc.client.monthlyUnemploymentNet"type="number" ng-focus="bc.updateIncome(bc.client.monthlyUnemploymentNet)" ng-blur= "bc.addIncome(bc.client.monthlyUnemploymentNet)">
</md-input-container></p>


<p><md-input-container class="longerInput" >
<label>Workers' Compensation</label>
  <input ng-model="bc.client.monthlyWorkersCompensationNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyWorkersCompensationNet)" ng-blur= "bc.addIncome(bc.client.monthlyWorkersCompensationNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Veteran Compensation</label>
  <input ng-model="bc.client.monthlyVeteransCompensationNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyVeteransCompensationNet)" ng-blur= "bc.addIncome(bc.client.monthlyVeteransCompensationNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Rental Income</label>
  <input ng-model="bc.client.monthlyRentalIncomeNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyRentalIncomeNet)" ng-blur= "bc.addIncome(bc.client.monthlyRentalIncomeNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Interest/Investment Income</label>
  <input ng-model="bc.client.monthlyInvestmentIncomeNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyInvestmentIncomeNet)" ng-blur= "bc.addIncome(bc.client.monthlyInvestmentIncomeNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Income from other household members</label>
  <input ng-model="bc.client.monthlyIncomeOtherHouseholdMembersNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyIncomeOtherHouseholdMembersNet)" ng-blur= "bc.addIncome(bc.client.monthlyIncomeOtherHouseholdMembersNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Social Security (not SSI/SSD)</label>
  <input ng-model="bc.client.monthlySocialSecurityNetNotSSI" type="number" ng-focus="bc.updateIncome(bc.client.monthlySocialSecurityNetNotSSI)" ng-blur= "bc.addIncome(bc.client.monthlySocialSecurityNetNotSSI)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Pensions</label>
  <input ng-model="bc.client.monthlyPensionsNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyPensionsNet)" ng-blur= "bc.addIncome(bc.client.monthlyPensionsNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Other Public Benefits</label>
  <input ng-model="bc.client.monthlyOtherPublicBenefitsNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyOtherPublicBenefitsNet)" ng-blur= "bc.addIncome(bc.client.monthlyOtherPublicBenefitsNet)">
</md-input-container></p>


<p><md-input-container class="longerInput">
<label>Other Income (not public benefit)</label>
  <input ng-model="bc.client.monthlyOtherIncomeNet" type="number" ng-focus="bc.updateIncome(bc.client.monthlyOtherIncomeNet)" ng-blur= "bc.addIncome(bc.client.monthlyOtherIncomeNet)">
</md-input-container></p>



<h1>Total Monthly Income
  <span ng-model="bc.client.totalMonthlyIncomeNet">${{bc.client.totalMonthlyIncomeNet}}</h1>
</md-input-container></p>
</md-content>
</div>
