<div ng-cloak>
<md-content class="md-padding" flex>
  <md-nav-bar
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="main.creditReport.one" name="main.creditReport.one">Tab 1</md-nav-item>
    <md-nav-item md-nav-sref="main.creditReport.two" name="main.creditReport.two">Tab 2</md-nav-item>
    <md-nav-item md-nav-sref="main.creditReport.three" name="main.creditReport.three">Tab 3</md-nav-item>
  </md-nav-bar>
  <div class="ext-content">
    <!-- Whatever is in Tab 1, 2, or 3 goes in ui-view tag below -->
    <ui-view></ui-view>
  </div>
</md-content>
 </div>
