<div ng-cloak>
<md-content class="md-padding" flex>
  <md-nav-bar
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="main.creditReport.preface" name="main.creditReport.preface">Participation Info</md-nav-item>
    <md-nav-item md-nav-sref="main.creditReport.scores" name="main.creditReport.scores">Credit Scores & Lines</md-nav-item>
    <!-- <md-nav-item md-nav-sref="main.creditReport.lines" name="main.creditReport.lines">Active Credit</md-nav-item> -->
  </md-nav-bar>
  <div class="ext-content">
    <!-- Whatever is in Tab 1, 2, or 3 goes in ui-view tag below -->
    <ui-view></ui-view>
  </div>
</md-content>
 </div>
