<div layout="column" ng-cloak class="md-inline-form">

  <div><!--Credit Score Section  -->
    <h3>Credit Score Section</h3>
    <md-input-container>
      <label for="karma">Credit Karma Score</label>
      <input class="inputFieldSize" type="number" name="karma" ng-model="crc.client.details.karmaScore">
    </md-input-container>

    <md-input-container>
      <label for="union">TransUnion Score</label>
      <input class="inputFieldSize" type="number" name="union" ng-model="crc.client.details.transUnionScore">
    </md-input-container>
    <br>
  </div>


  <div ng-if="crc.client.details.creditCard || crc.client.details.heloc">

    <h3>Active Lines of Credit</h3>
    <table >
      <thead>
        <tr>
          <th>Name of Credit Card(s)</th>
          <th>Total Limit</th>
          <th>Account Balance</th>
          <th>Amount Past Due</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><md-input-container><input type="text" ng-model="crc.client.details.creditCard1Name" placeholder="Name of Credit Card"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard1Limit" placeholder="Total Limit"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard1Balance" placeholder="Account Balance"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard1PastDue" placeholder="Amount Past Due"></md-input-container></td>
        </tr>
        <tr>
          <td><md-input-container><input type="text" ng-model="crc.client.details.creditCard2Name" placeholder="Name of Credit Card"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard2Limit" placeholder="Total Limit"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard2Balance" placeholder="Account Balance"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard2PastDue" placeholder="Amount Past Due"></md-input-container></td>
        </tr>
        <tr>
          <td><md-input-container><input type="text" ng-model="crc.client.details.creditCard3Name" placeholder="Name of Credit Card"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard3Limit" placeholder="Total Limit"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard3Balance" placeholder="Account Balance"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard3PastDue" placeholder="Amount Past Due"></md-input-container></td>
        </tr>
        <tr>
          <td><md-input-container><input type="text" ng-model="crc.client.details.creditCard4Name" placeholder="Name of Credit Card"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard4Limit" placeholder="Total Limit"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard4Balance" placeholder="Account Balance"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard4PastDue" placeholder="Amount Past Due"></md-input-container></td>
        </tr>
        <tr>
          <td><md-input-container><input type="text" ng-model="crc.client.details.creditCard5Name" placeholder="Name of Credit Card"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard5Limit" placeholder="Total Limit"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard5Balance" placeholder="Account Balance"></md-input-container></td>
          <td><md-input-container><input type="number" ng-model="crc.client.details.creditCard5PastDue" placeholder="Amount Past Due"></md-input-container></td>
        </tr>
      </tbody>
    </table>

    <div  ng-if="crc.client.details.heloc">
      <h4>Home Equity Line of Credit</h4>
      <table><!--Heloc active -->
        <tbody>
          <tr>
            <td><md-input-container><input type="text" ng-model="crc.client.details.helocName" placeholder="Name of HELOC"></md-input-container></td>
            <td><md-input-container><input type="number" ng-model="crc.client.details.helocLimit" placeholder="Total Limit"></md-input-container></td>
            <td><md-input-container><input type="number" ng-model="crc.client.details.helocBalance" placeholder="Account Balance"></md-input-container></td>
            <td><md-input-container><input type="number" ng-model="crc.client.details.helocPastDue" placeholder="Amount Past Due"></md-input-container></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
