<div layout="column" flex id="content" role="main">
			<md-content layout="vertical" flex id="content">
				<div class="login-screen" layout="row" layout-align="center center" layout-fill>
					<md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
						<md-content>
								<div layout="row" layout-sm="column" layout-margin>
									<md-button class="md-raised md-primary" flex="100" flex-sm="100" ng-click=lc.logIn()>Login With Google</md-button>
								</div>
						</md-content>
					</md-whiteframe>
				</div>
			</md-content>
		</div>


		<!-- <md-button class="md-fab" aria-label="FAB">
		  <md-icon md-svg-src="your/icon.svg"></md-icon>
		</md-button> -->
		<!-- mini-FAB -->
		<!-- <md-button class="md-fab md-mini" aria-label="Mini FAB">
		  <md-icon md-svg-src="your/icon.svg"></md-icon>
		</md-button> -->
		<!-- Button with SVG Icon -->


		<!-- <md-button class="md-icon-button" aria-label="Custom Icon Button">
		  <md-icon md-svg-icon="images/iimn-logo.svg"></md-icon>
		</md-button> -->
