<md-toolbar class="toolbar" layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
</md-toolbar>

<div ng-cloak >
    <md-content>
            <md-toolbar layout-align="center center" class="mainStateToolbar">
                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                    <!-- <md-nav-item md-nav-sref="#profile" name="profile">Profile</md-nav-item> -->
                    <md-nav-item ui-sref-active-eq='active' md-nav-sref="main.budget" name="main.budget">Budget</md-nav-item>
                    <md-nav-item ui-sref-active-eq='active' md-nav-sref="main.balanceSheet" name="main.balanceSheet">Balance Sheet</md-nav-item>
                    <md-nav-item ui-sref-active-eq='active' md-nav-sref="main.creditReport" name="main.creditReport">Credit Report</md-nav-item>
                    <md-nav-item ui-sref-active-eq='active' md-nav-sref="main.summary" name="main.summary">Summary</md-nav-item>
                </md-nav-bar>
            </md-toolbar>
        <div class="ext-content">
            <ui-view></ui-view>
        </div>
    </md-content>
</div>
