<md-toolbar class="toolbar" layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
</md-toolbar>

<div layout-align="center center" layout="column" ng-cloak class="profile md-inline-form md-display-1">
  <md-content layout-gt-sm="row" layout-padding>
    <div>

      <div ng-hide="pc.client.details.maritalStatus === 'single' || (pc.client.details.maritalStatus === 'married' && pc.client.details.individual != null)"> <!--Individual or Joint section -->
        <md-radio-group ng-model="pc.client.details.maritalStatus">
          <h2>Are you married?</h2>
          <md-radio-button ng-value="'married'">Yes</md-radio-button>
          <md-radio-button ng-value="'single'">No</md-radio-button>
        </md-radio-group>

        <md-radio-group ng-if="pc.client.details.maritalStatus === 'married'" ng-model="pc.client.details.individual">
          <h2>Do you share finances?</h2>
          <md-radio-button ng-value="false">Yes</md-radio-button>
          <md-radio-button ng-value="true">No</md-radio-button>
        </md-radio-group>
      </div>




      <div class="sample-show-hide" ng-if="pc.client.details.maritalStatus === 'single' || (pc.client.details.maritalStatus === 'married' && pc.client.details.individual != null)" ng-hide="pc.client.details.dependents != null"> <!--Dependents section -->
        <md-radio-group ng-model="pc.client.details.dependents">
          <h2>Do you have any children or dependents?</h2>
          <md-radio-button ng-value="true">Yes</md-radio-button>
          <md-radio-button ng-value="false">No</md-radio-button>
        </md-radio-group>
        <button type="button" ng-click="pc.undoMarrige()">Back</button>
      </div>


      <div class="sample-show-hide" ng-if="pc.client.details.dependents != null" ng-hide="pc.client.details.employed != null"> <!--Employment section -->
        <md-radio-group ng-model="pc.client.details.employed">
          <h2>Are you employed?</h2>
          <md-radio-button ng-value="true">Yes</md-radio-button>
          <md-radio-button ng-value="false">No</md-radio-button>
        </md-radio-group>
        <button type="button" ng-click="pc.client.details.dependents = null">Back</button>
      </div>


      <div class="sample-show-hide" ng-if="pc.client.details.employed != null" ng-hide="pc.client.details.assistance == false || !pc.assistanceSection"> <!--Assistance section -->
        <md-radio-group ng-model="pc.client.details.assistance">
          <h2>Do you receive assistance?</h2>
          <md-radio-button ng-value="true">Yes</md-radio-button>
          <md-radio-button ng-value="false">No</md-radio-button>
        </md-radio-group>
        <button type="button" ng-click="pc.client.details.employed = null">Back</button>

        <div class="sample-show-hide" ng-if="pc.client.details.assistance == true" class="pc.assistanceSection">
          <md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.SNAP">SNAP</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.TANF">TANF</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.SSI">SSI/SSDI</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.alimony">Child Support/Alimony</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.workersComp">Workers' Comp</md-checkbox>
          <md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.otherAssist">Other</md-checkbox>
          <button type="button" ng-click="pc.confirmAssistance()">OK</button>
        </div>
      </div>

      <div class="sample-show-hide" ng-if="pc.client.details.assistance == false || !pc.assistanceSection" ng-hide="pc.client.details.housing != null"> <!--Housing section -->
        <md-radio-group ng-model="pc.client.details.housing">
          <h2>Do you rent or own your home?</h2>
          <md-radio-button ng-value="'Rent'">Rent</md-radio-button>
          <md-radio-button ng-value="'Own'">Own</md-radio-button>
        </md-radio-group>
        <button type="button" ng-click="pc.confirmAssistance()">Back</button>
      </div>

      <div class="sample-show-hide" ng-if="pc.client.details.housing != null" ng-hide="pc.client.details.vehicle == false|| pc.client.details.numberVehicles != null"> <!--Vehicle section -->
        <md-radio-group ng-model="pc.client.details.vehicle">
          <h2>Do you own a vehicle?</h2>
          <md-radio-button ng-value="true">Yes</md-radio-button>
          <md-radio-button ng-value="false">No</md-radio-button>
        </md-radio-group>

        <div class="sample-show-hide" ng-if="pc.client.details.vehicle == true">
          <h3>How many vehicles do you own?</h3>
        <md-select ng-model="pc.client.details.numberVehicles" placeholder="Number of Vehicles">
          <md-option value=1>1</md-option>
          <md-option value=2>2</md-option>
          <md-option value=3>3+</md-option>
        </md-select>
      </div>
        <button type="button" ng-click="pc.client.details.housing = null">Back</button>
      </div>

      <div class="sample-show-hide" ng-class="pc.bankSection" ng-if="pc.client.details.vehicle == false|| pc.client.details.numberVehicles != null" ng-hide="pc.client.details.bank == false || !pc.bankSection">
        <md-radio-group ng-model="pc.client.details.bank">
          <h2>Have you owned a checking or savings account?</h2> <!-- consider revising to checkboxes -->
          <md-radio-button ng-value="true">Yes</md-radio-button>
          <md-radio-button ng-value="false" ng-click="pc.clearAccounts()">No</md-radio-button>
        </md-radio-group>

        <div ng-if="pc.client.details.bank == true">
          <h3>Which account(s) have you used?</h3>
          <md-checkbox ng-model="pc.client.details.checking">Checking Account</md-checkbox>
          <md-checkbox ng-model="pc.client.details.savings">Savings Account</md-checkbox>
          <button type="button" ng-click="pc.hideBank()">OK</button>
        </div>
        <button type="button" ng-click="pc.undoVehicle()">Back</button>
      </div>

      <div ng-class="pc.productsSection" ng-if="pc.client.details.bank == false || !pc.bankSection" ng-hide="!pc.productSection">
        <h2>Have you used any of the following credit products?</h2>
        <md-checkbox ng-model="pc.client.details.creditCard">Credit Card</md-checkbox>
        <md-checkbox ng-model="pc.client.details.autoLoan">Auto Loan</md-checkbox> <!--ng-hide="pc.client.details.vehicle ==='No'" -->
        <md-checkbox ng-model="pc.client.details.mortgage">Mortgage</md-checkbox> <!--ng-hide="pc.client.details.housing !=='Own'"  -->
        <md-checkbox ng-model="pc.client.details.heloc">HELOC</md-checkbox> <!--ng-hide="pc.client.details.housing ==='Rent'" -->
        <md-checkbox ng-model="pc.client.details.noCreditProducts">None of These</md-checkbox>
        <button type="button" ng-click="pc.hideProducts()">OK</button>
        <button type="button" ng-click="pc.hideBank()">Back</button>
      </div>

      <div class="sample-show-hide" ng-if="!pc.productSection">
        <p>Marital Status:{{pc.client.details.maritalStatus}}</p>
        <p ng-hide="pc.client.details.maritalStatus === 'single'">Single Filing: {{pc.client.details.individual}}</p>
        <p>Dependents: {{pc.client.details.dependents}}</p>
        <p>Employed: {{pc.client.details.employed}}</p>
        <p>Receiving Assistance: {{pc.client.details.assistance}}</p>
        <p ng-if="pc.client.details.assistance ==true">Assistance Types:</p>
        <p ng-if="pc.client.details.SNAP == true">-SNAP</p>
        <p ng-if="pc.client.details.TANF == true">-TANF</p>
        <p ng-if="pc.client.details.SSI == true">-SSI/SSDI</p>
        <p ng-if="pc.client.details.alimony == true">-Alimony</p>
        <p ng-if="pc.client.details.workersComp == true">-Workers' Compensation</p>
        <p ng-if="pc.client.details.otherAssist == true">-Other</p>
        <p>Housing Type: {{pc.client.details.housing}}</p>
        <p>Own Vehicle: {{pc.client.details.vehicle}} <span ng-if="pc.client.details.numberVehicles != null">Number of Vehicles:{{pc.client.details.numberVehicles}}</span></p>
        <p>Bank Account: {{pc.client.details.bank}} <span ng-if="(pc.client.details.checking == true && pc.client.details.savings != true)">Checking</span> <span ng-if="(pc.client.details.checking != true && pc.client.details.savings == true)">Savings</span><span ng-if="(pc.client.details.checking == true && pc.client.details.savings == true)">Checking & Savings</span></p>
        <p>Credit Products:</p>
        <p ng-if="pc.client.details.noCreditProducts == true">-None</p>
        <p ng-if="pc.client.details.creditCard">-Credit Card</p>
        <p ng-if="pc.client.details.autoLoan == true">-Auto Loan</p>
        <p ng-if="pc.client.details.mortgage == true">-Mortgage</p>
        <p ng-if="pc.client.details.heloc == true">-HELOC</p>
        <button type="button" ng-click="pc.hideProducts()">Back</button>
        <button type="button">Confirm Accuracy</button>
        <a href="#main">This is just a link now to take us to the main view</a>
      </div>


    </div>
  </md-content>
</div>
