<md-toolbar class="toolbar" layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
</md-toolbar>

<div layout-align="center center" layout="column" ng-cloak class="profile md-inline-form md-display-1">
	<md-content class="profile" layout-gt-sm="row" layout-padding>

		<!-- hide if single (or) hide if married (and) individual (below) not null:
		hide when they've answered no to the first question or yes to the first question and answered the second question -->
		<div ng-hide="pc.client.details.maritalStatus === 'single' || (pc.client.details.maritalStatus === 'married' && pc.client.details.individual != null)"> <!--Individual or Joint section -->
			<md-radio-group ng-model="pc.client.details.maritalStatus">
				<h2>Are you married?</h2>
				<md-radio-button ng-value="'married'">Yes</md-radio-button>
				<md-radio-button ng-value="'single'">No</md-radio-button>
			</md-radio-group>
			<!-- this shares a div with above. it only shows if married. -->
			<md-radio-group ng-if="pc.client.details.maritalStatus === 'married'" ng-model="pc.client.details.individual">
				<h2>Do you share finances?</h2>
				<md-radio-button ng-value="false">Yes</md-radio-button>
				<md-radio-button ng-value="true">No</md-radio-button>
			</md-radio-group>
		</div>




		<div ng-if="pc.client.details.maritalStatus === 'single' || (pc.client.details.maritalStatus === 'married' && pc.client.details.individual != null)" ng-hide="pc.client.details.dependents != null"> <!--Dependents section -->
			<md-radio-group ng-model="pc.client.details.dependents">
				<h2>Do you have any children or dependents?</h2>
				<md-radio-button ng-value="true">Yes</md-radio-button>
				<md-radio-button ng-value="false">No</md-radio-button>
			</md-radio-group>
		<p>	<md-button class="md-raised md-warn" type="button" ng-click="pc.undoMarriage()">Go Back</md-button></p>
		</div>


		<div ng-if="pc.client.details.dependents != null" ng-hide="pc.client.details.employed != null"> <!--Employment section -->
			<md-radio-group ng-model="pc.client.details.employed">
				<h2>Are you employed?</h2>
				<md-radio-button ng-value="true">Yes</md-radio-button>
				<md-radio-button ng-value="false">No</md-radio-button>
			</md-radio-group>
		<p>	<md-button class="md-raised md-warn" type="button" ng-click="pc.client.details.dependents = null">Go Back</md-button></p>
		</div>


		<div ng-if="pc.client.details.employed != null" ng-hide="pc.client.details.assistance == false || !pc.assistanceSection"> <!--Assistance section -->
			<md-radio-group ng-model="pc.client.details.assistance">
				<h2>Do you receive assistance?</h2>
				<md-radio-button ng-value="true">Yes</md-radio-button>
				<md-radio-button ng-value="false">No</md-radio-button>
			</md-radio-group>
		<p>	<md-button class="md-raised md-warn" type="button" ng-click="pc.client.details.employed = null">Go Back</md-button></p>

			<div ng-if="pc.client.details.assistance == true" class="pc.assistanceSection">
				<md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.SNAP">SNAP</md-checkbox>
				<md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.TANF">TANF</md-checkbox>
				<md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.SSI">SSI/SSDI</md-checkbox>
				<md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.alimony">Child Support/Alimony</md-checkbox>
				<md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.workersComp">Workers' Comp</md-checkbox>
				<md-checkbox md-no-ink class="md-primary" ng-model="pc.client.details.otherAssist">Other</md-checkbox>
			<p><md-button class="md-raised md-primary" type="button" ng-click="pc.confirmAssistance()">OK</md-button></p>
			</div>
		</div>

		<div ng-if="pc.client.details.assistance == false || !pc.assistanceSection" ng-hide="pc.client.details.housing != null"> <!--Housing section -->
			<md-radio-group ng-model="pc.client.details.housing">
				<h2>Do you rent or own your home?</h2>
				<md-radio-button ng-value="'Rent'">Rent</md-radio-button>
				<md-radio-button ng-value="'Own'">Own</md-radio-button>
			</md-radio-group>
		<p>	<md-button class="md-raised md-warn" type="button" ng-click="pc.confirmAssistance()">Go Back</md-button></p>
		</div>

		<div ng-if="pc.client.details.housing != null" ng-hide="pc.client.details.vehicle == false|| pc.client.details.numberVehicles != null"> <!--Vehicle section -->
			<md-radio-group ng-model="pc.client.details.vehicle">
				<h2>Do you own a vehicle?</h2>
				<md-radio-button ng-value="true">Yes</md-radio-button>
				<md-radio-button ng-value="false">No</md-radio-button>
			</md-radio-group>

			<div ng-if="pc.client.details.vehicle == true">
				<h3>How many vehicles do you own?</h3>
				<md-select ng-model="pc.client.details.numberVehicles" placeholder="Number of Vehicles">
					<md-option value=1>1</md-option>
					<md-option value=2>2</md-option>
					<md-option value=3>3+</md-option>
				</md-select>
			</div>
		<p> <md-button class="md-raised md-warn" type="button" ng-click="pc.client.details.housing = null">Go Back</md-button></p>
		</div>

		<div ng-class="pc.bankSection" ng-if="pc.client.details.vehicle == false|| pc.client.details.numberVehicles != null" ng-hide="pc.client.details.bank == false || !pc.bankSection">
			<md-radio-group ng-model="pc.client.details.bank">
				<h2>Have you owned a checking or savings account?</h2> <!-- consider revising to checkboxes -->
				<md-radio-button ng-value="true">Yes</md-radio-button>
				<md-radio-button ng-value="false" ng-click="pc.clearAccounts()">No</md-radio-button>
			</md-radio-group>

			<div ng-if="pc.client.details.bank == true">
				<h3>Which account(s) have you used?</h3>
				<md-checkbox ng-model="pc.client.details.checking">Checking Account</md-checkbox>
				<md-checkbox ng-model="pc.client.details.savings">Savings Account</md-checkbox>
			<p><md-button class="md-raised md-primary" type="button" ng-click="pc.hideBank()">OK</md-button></p>
			</div>
		<p>	<md-button class="md-raised md-warn" type="button" ng-click="pc.undoVehicle()">Go Back</md-button></p>
		</div>

		<div ng-class="pc.productsSection" ng-if="pc.client.details.bank == false || !pc.bankSection" ng-hide="!pc.productSection">
			<h2>Have you used any of the following credit products?</h2>
			<md-checkbox ng-model="pc.client.details.creditCard">Credit Card</md-checkbox>
			<md-checkbox ng-model="pc.client.details.autoLoan">Auto Loan</md-checkbox> <!--ng-hide="pc.client.details.vehicle ==='No'" -->
			<md-checkbox ng-model="pc.client.details.mortgage">Mortgage</md-checkbox> <!--ng-hide="pc.client.details.housing !=='Own'"  -->
			<md-checkbox ng-model="pc.client.details.heloc">HELOC</md-checkbox> <!--ng-hide="pc.client.details.housing ==='Rent'" -->
			<md-checkbox ng-model="pc.client.details.noCreditProducts">None of These</md-checkbox>
		<p>	<md-button class="md-raised md-primary" type="button" ng-click="pc.hideProducts()">OK</md-button></p>
			<p><md-button class="md-raised md-warn" type="button" ng-click="pc.hideBank()">Go Back</md-button></p>
		</div>
	</md-content>
</div>

<div class="profile md-inline-form md-title" layout="column"  layout-align="left left" ng-if="!pc.productSection">
	<md-content>
		<h1>Summary</h1>
		<p ng-if="pc.client.details.maritalStatus == 'married' ">You are married</p>
		<p ng-if="pc.client.details.maritalStatus == 'single' ">You are not married</p>
		<p ng-if="pc.client.details.individual == true">You file single</p>
		<p ng-if="pc.client.details.individual == false">You file jointly</p>
		<p ng-if="pc.client.details.dependents == true">You have children or dependents</p>
		<p class="inline" ng-if="pc.client.details.assistance == true">You receive assistance in the form of: </p>
		<p class="inline" ng-if="pc.client.details.SNAP == true"> -SNAP- </p>
		<p class="inline" ng-if="pc.client.details.TANF == true"> -TANF- </p>
		<p class="inline" ng-if="pc.client.details.SSI == true"> -SSI/SSDI- </p>
		<p class="inline" ng-if="pc.client.details.alimony == true"> -alimony- </p>
		<p class="inline" ng-if="pc.client.details.workersComp == true"> -workers' compensation- </p>
		<p class="inline" ng-if="pc.client.details.otherAssist == true"> -other assistance- </p>
		<p ng-if="pc.client.details.housing == 'Own'">You own your home</p>
		<p ng-if="pc.client.details.housing == 'Rent'">You rent your home</p>
		<p ng-if="pc.client.details.vehicle == true">You own {{pc.client.details.numberVehicles}} car(s)</p>
		<p ng-if="pc.client.details.bank == true">Your bank accounts are:<span ng-if="(pc.client.details.checking == true && pc.client.details.savings != true)">checking</span> <span ng-if="(pc.client.details.checking != true && pc.client.details.savings == true)">savings</span><span ng-if="(pc.client.details.checking == true && pc.client.details.savings == true)">checking & savings</span></p>
		<p ng-if="pc.client.details.creditCard"> You have a credit card </p>
		<p ng-if="pc.client.details.autoLoan == true"> You have an auto loan </p>
		<p ng-if="pc.client.details.mortgage == true"> You have a mortgage </p>
		<p ng-if="pc.client.details.heloc == true"> You have a HELOC </p>
		<p><md-button class="md-warn md-raised md-hue-2" type="button" ng-click="pc.hideProducts()">Go Back</md-button></p>
		<p><md-button class="md-raised md-primary" type="button"><a href="#main">Everything looks right</a></md-button></p>
</md-content>
</div>


<!-- <div ng-show="wc.client.details.client">
<md-toolbar class="login-toolbar"layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
</md-toolbar>

<div layout="column" flex role="main">
	<md-content>
		<div class="login-screen" layout="column" layout-align="top center" layout-fill>
								<p><md-input-container>
									<label "wages">First Name</label>
								  <input ng-model="wc.client.details.firstName">
								</md-input-container>
								<md-input-container>
								<label "wages">Last Name</label>
									 <input ng-model="wc.client.details.lastName">
								</md-input-container>

								<md-input-container>
									<label "wages">Date</label>
									<input ng-model="wc.client.details.date">
								</md-input-container>

								<p><md-input-container>

									<md-radio-group>
										<h2>Is this your first profile?</h2>
									<md-radio-button ng-value="'first'">Yes</md-radio-button>
									<md-radio-button ng-value="'return'">No</md-radio-button>
									</md-radio-group>
								</md-input-container></p> -->
