<div ng-cloak>
    <md-content class="md-padding" flex>
        <div layout="row">
            <div flex="10">
                <h4>Suggested Budget</h4>
                <table>
                    <tr>
                        <td>Housing:</td>
                        <td>${{sc.client.monthlyTotalHousingExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Utilities:</td>
                        <td>${{sc.client.monthlyTotalUtilities}}</td>
                    </tr>
                    <tr>
                        <td>Food:</td>
                        <td>${{sc.client.monthlyTotalFoodExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Transportation:</td>
                        <td>${{sc.client.monthlyTotalTransportationExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Health:</td>
                        <td>${{sc.client.monthlyTotalHealthRelatedExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Savings:</td>
                        <td>${{sc.client.monthlySavingsTarget}}</td>
                    </tr>
                    <tr>
                        <td>Miscellaneous:</td>
                        <td>${{sc.client.totalLifeExpenses}}</td>
                    </tr>
                </table>
            </div>

            <div flex="40">
                <canvas id="pie" class="chart chart-pie" chart-data="sc.benchmarkData" chart-labels="sc.benchmarkLabels" chart-options="sc.benchmarkOptions"></canvas>
            </div>

            <div flex="10">
                <h4>Your Budget</h4>
                <table>
                    <tr>
                        <td>Housing:</td>
                        <td>${{sc.client.monthlyTotalHousingExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Utilities:</td>
                        <td>${{sc.client.monthlyTotalUtilities}}</td>
                    </tr>
                    <tr>
                        <td>Food:</td>
                        <td>${{sc.client.monthlyTotalFoodExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Transportation:</td>
                        <td>${{sc.client.monthlyTotalTransportationExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Health:</td>
                        <td>${{sc.client.monthlyTotalHealthRelatedExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Savings:</td>
                        <td>${{sc.client.monthlySavingsTarget}}</td>
                    </tr>
                    <tr>
                        <td>Miscellaneous:</td>
                        <td>${{sc.client.totalLifeExpenses}}</td>
                    </tr>
                </table>
            </div>



            <div flex="40">
                <canvas id="pie" class="chart chart-pie" chart-data="sc.clientData" chart-labels="sc.clientLabels" chart-options="sc.clientOptions"></canvas>
            </div>
        </div>


        <div class="md-padding" flex>
            <md-whiteframe class="md-whiteframe-3dp" layout="row" layout layout-align="space-around center">
                <p>Total Assets ${{sc.client.totalAssets}}</p>
                <p>Total Liabilities ${{sc.client.totalLiabilities}}</p>
                <p>Total Net Worth ${{sc.client.totalNetWorth}}</p>
            </md-whiteframe>
        </div>
        <div flex>
            <md-whiteframe class="md-whiteframe-3dp" layout="row" layout layout-align="space-around center">
                <p>Goals<textarea ng-model="bc.client.goals" type="number"></textarea></p>
                <p>Monthly Savings Target<input ng-model="bc.client.monthlySavingsTarget" placeholder="$" type="number"></input>
                </p>
                <p>Action Steps<textarea ng-model="bc.client.actionSteps" type="text"></textarea></p>
            </md-whiteframe>
        </div>
    </md-content>

    <!--CSV Export Button-->
     <div id="tester">
    <!--located http://localhost:5000/#/main-->
    <md-button class="md-warning" ng-click="sc.export()">Data Export</button>
    <!--<p>{{sc.exportTester}}</p>-->

  </div>



</div>
