<div ng-cloak>
  <md-content class="md-padding" flex>
<div class=""><!--Budget Visualization Section -->
  <p>Budget visualization section</p>
</div>

<p>Balance Sheet Snapshot</p><!--balance sheet section -->
  <table>
    <tr>
      <td>Total Assets:</td>
      <td>${{sc.client.totalAssets}}</td>
    </tr>
    <tr>
      <td>Total Liabilities:</td>
      <td>${{sc.client.totalLiabilities}}</td>
    </tr>
    <tr>
      <td>Total Net Worth:</td>
      <td>${{sc.client.totalNetWorth}}</td>
    </tr>
  </table>



<h2>Monthly Savings Target
<input ng-model="bc.client.monthlySavingsTarget" placeholder ="$" type ="number"></input></h2>


  <div class=""><!--Action Steps Section-->
    <p>Action steps</p>
  </div>

    <div class="ext-content">
      <!-- Whatever is in Tab 1, 2, or 3 goes in ui-view tag below -->
      <ui-view></ui-view>
    </div>
  </md-content>

  <div id="tester">
    <!--located http://localhost:5000/#/main-->
    <md-button class="md-warning" ng-click="sc.export()">Data Export</button>
    <!--<p>{{sc.exportTester}}</p>-->
  </div>

   </div>
