<div ng-cloak>
    <md-content class="md-padding" flex>
        <div class="">
            <!--Budget Visualization Section -->
            <h3>PIE CHARTS HERE</h3>
        </div>



        <md-whiteframe class="md-whiteframe-3dp" layout="row" layout-align="space-around center">
                <h3>Housing ${{sc.client.monthlyTotalHousingExpenses}}</h3>
                <h3>Utilities ${{sc.client.monthlyTotalUtilities}}</h3>
                <h3>Food ${{sc.client.monthlyTotalFoodExpenses}}</h3>
                <h3>Transportation ${{sc.client.monthlyTotalTransportationExpenses}}</h3>
                <h3>Health ${{sc.client.monthlyTotalHealthRelatedExpenses}}</h3>
                <h3>Savings ${{sc.client.monthlySavingsTarget}}</h3>
                <h3>Miscellaneous ${{sc.client.totalLifeExpenses}}</h3>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-3dp" layout="column" layout-align="center center">
            table
                <h3>Total Assets ${{sc.client.totalAssets}}</h3>
                <h3>Total Liabilities ${{sc.client.totalLiabilities}}</h3>
                <h3>Total Net Worth ${{sc.client.totalNetWorth}}</h3>
        </md-whiteframe>



        <md-whiteframe class="md-whiteframe-3dp" layout="row" layout-align="space-around center">
                <h3>Goals
                <textarea ng-model="bc.client.goals"type ="number"></textarea>
                </h3>
                <h3>Monthly Savings Target
                <input ng-model="bc.client.monthlySavingsTarget" placeholder ="$" type ="number"></input>
                </h3>
                <h3>Action Steps
                <textarea ng-model="bc.client.actionSteps"type ="text"></textarea>
                </h3>
        </md-whiteframe>


    </md-content>
</div>
