<!-- <div ng-show="wc.user.user">
  <p>wc.user is: {{wc.user.user}}</p>
  <h1>Welcome</h1>
  <a href="#profile">Go To the Profile Questions Form</a>
  <md-button class="md-primary md-raised" ng-click="wc.logOut()" aria-label="logout">Logout</md-button>
</div> -->



<div ng-show="wc.user.user">
<md-toolbar class="login-toolbar"layout-align="center center">
	<h1>Financial Health Assessment Tool</h1>
</md-toolbar>

<div layout="column" flex role="main">
	<md-content>
		<div class="login-screen" layout="column" layout-align="top center" layout-fill>
								<p><md-input-container>
									<label "wages">First Name</label>
								  <input ng-model="wc.user.firstName">
								</md-input-container>
								<md-input-container>
								<label "wages">Last Name</label>
									 <input ng-model="wc.user.lastName">
								</md-input-container>

								<md-input-container>
									<label "wages">Date</label>
									<input ng-model="wc.user.date">
								</md-input-container>

								<p><md-input-container>

									<md-radio-group>
										<h2>Is this your first profile?</h2>
									<md-radio-button ng-value="'first'">Yes</md-radio-button>
									<md-radio-button ng-value="'return'">No</md-radio-button>
									</md-radio-group>
								</md-input-container></p>

<!--
								<md-radio-group ng-model="pc.user.firstProfile">
									<h2>Is this your first profile?</h2>
									<md-radio-button ng-value="'first'">Yes</md-radio-button>
									<md-radio-button ng-value="'return'">No</md-radio-button>
								</md-radio-group> -->

		</div>
			<md-whiteframe layout="column"  layout-padding layout-align="top center">
				<md-content class="md-whiteframe-24dp">
					<md-button class="md-raised md-primary" href="#profile">Go To Profile</md-button>
				</md-content>
			</md-whiteframe>

	</md-content>
</div>
</div>
